fastapi
uvicorn
requests
python-dotenv
google-generativeai
google-cloud-speech
google-cloud-texttospeech
geopy
langdetect
gunicorn
soundfile
pydub==0.25.1
ffmpeg-python==0.2.0
gTTS
torch
sentencepiece
python-multipart 


